body{
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: block;
    
}

#skills span{
    filter: blur(2px);
    width: 0%;
    animation-delay: 0s;
}

#profileSection{
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-champagne{
    background-color: #FFF0DF;
}

.bg-taupe{
    background-color: #B4AAA9;
}
.color-taupe{
    color: #B4AAA9;
}

.bg-mistyblue{
    background-color: #F8FAFD;
}

.bg-salmon{
    background-color: #F0C9B3;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


.fade-In{
    animation: fadeIn 5s;
}

@keyframes fadeIn{
    0% {opacity: 0; transform: scale(0%)}
    100% {opacity: 1; transform: scale(100%)}
}


