body{
    background-color: #B4AAA9;
}



#profileSection{
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-champagne{
    background-color: #FFF0DF;
}

.bg-taupe{
    background-color: #B4AAA9;
}
.color-taupe{
    color: #B4AAA9;
}

.bg-mistyblue{
    background-color: #F8FAFD;
}

.bg-salmon{
    background-color: #F0C9B3;
}



